.contact-list {
    line-height: 200%;
    list-style: linear-gradient(#ff533d, #ff533d);
}

.map {
    width: 100%;
    /* max-width: 500px; */
    height: 324px;
    border-radius: 5px;
    border: 2px solid #ff533d !important;
}

.centered {
    text-align: center;
}

.contact-form {
    background-color: #ebebeb;
    border-radius: 5px;
    border: 2px solid #ff533d;
    /* max-width: 500px; */
    padding: 5px 15px 30px 15px;
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 90%;
    margin: 15px auto 0px auto;
    resize: none;
    font-family: inherit;
    padding: 3px;
    font-size: 16px;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: auto !important;
}

.dark-theme .contact-form {
    background-color: #252525;
}