.row {
    /* overflow: auto; */
    display: flex;
    flex-wrap: wrap;
}

.row-event {
    margin-top: 20px;
}

.col-100 { width: 100%; }

.event {
    padding: 0px 15px 15px 15px;
    background-color: #e9e9e9;
    border-radius: 5px;
    border: 1px solid #ff533d;
    height: 250px;
    overflow-y: scroll;
}

.event h4 {
    text-align: center;
    padding-top: 10px;
}

.dark-theme .event {
    background-color: #252525;
}